*{
    font-size: clamp(var(--min),calc(var(--sum) + 1vw),var(--max))
}
/*As variaveis --min e --max representam o maior e menor valor desejado. A variável --sum deve ser determinada.*/
.pag{

    margin: 20px 0;
    height: calc(100vh - 91px);
    padding: 0 clamp(20px,calc(30vw - 250px),50px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    & > div{
        background-color: white;
        box-shadow: 0 0 10px black;
        border-radius: clamp(10px,calc(10px + 2vw),30px);
        & > * {
            margin-top: 0;
            margin-left: clamp(10px,calc(10px + 1vw),20px);
            margin-right: clamp(10px,calc(10px + 1vw),20px);
        }

        & > *:first-child{
            margin-top:clamp(10px,calc(10px + 1vw),20px)
        }

        & > *:last-child {
            margin-bottom: clamp(10px,calc(10px + 1vw),20px);
        }
    }
    & > div::-webkit-scrollbar{
        display: none;
    }
}

/*PESSOAL*/

.user img{
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
}
.user{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
    justify-content: center;
}
.user h2{
    --min:20px;
    --max:25px;
    --sum:17px;
    margin: 0 0 0 10px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.seguidores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    & h3{
        --min:13px;
        --max:15px;
        --sum:2px;
        margin: 0 10px 15px 10px;
    }
}

/*POSTS*/

.posts {
    grid-column-start: 2;
    grid-column-end: 5;
    overflow: auto;
    & > div{
        background-color: rgb(204, 204, 204);
        border-radius: 10px;
        min-height: 35%;
        margin-top:20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        & h3{
            text-align: left;
            margin:0;
        }
        & p{margin:5px 0}
        & h2{margin: 0;margin-top: auto;}
        & .container{
            display: flex;
            background-color: rgb(36, 36, 36);
            justify-content: center;
            border-radius: 5px;
            margin-bottom: 10px;
            & img{margin-bottom: 0;height: 200px;width: auto;}
        }
    }
}

.informs{overflow: auto;}
/*FORMULARIO*/
.informs form{margin-top: 10px;display: none;}
.informs form > * {margin-top: 10px;}
.informs textarea{
    resize: none;       
    width: 100%;
    height: 100px;
    padding: 10px;
}
.informs .arquivos{
    display: grid;
    place-items: center;
    margin-top: 0;
}
.informs label[for="content"]{
    background-color: rgb(211, 194, 211);
    transition: background-color 0.5s;
    --min:12px;
    --max:17px;
    --sum:12px;
    padding: 10px;
}
.informs label[for="content"]:hover{
    background-color: rgb(158, 142, 158);
    cursor: pointer;
}
.informs form input{
    outline: none;
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(199, 199, 199);
    transition: background-color 0.5s;
}
#postar{
    background-color: rgb(199, 199, 199);
    transition: background-color 0.5s;
    padding: 5px;
    margin-left: auto;
    border: none;
}
.informs form input:focus{
    background-color: gray;
}
.informs form input[type="button"]:hover,.informs form input[type="submit"]:hover,#postar:hover{
    background-color: gray;
    cursor: pointer;
}
.informs form label{
    text-align: center;
}


/*MEDIA QUERIES*/
@media screen and (max-width:900px) {
    .pag{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,auto) repeat(1,1fr);
    }
    .posts{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}