    <div class="nav" id="nav">
        <img id="logo" src="{{url_for('static',filename="imagens/logo2.png")}}">

        <div class="menu_and_links">
            <a id="menu">Menu</a>
            <div class="links_menu">
                <a href="/" id="inicio">Início</a><a href="#" id="loja">Loja</a><a href="#" id="noticias">Notícias</a>
            </div>
        </div>
                    
        {%if usuario%}
            <div class='profile'>
                <img src="{{url_for('static',filename='imagens/semimagem.png')}}">
                <div class='options'>
                    <a href="/configs">Configurar</a>
                    <a href="/users/{{usuario.username}}">Perfil</a>
                    <a href="/" id='sair' onclick="" >Sair</a>
                </div>
            </div>
            <script>
                console.log('oi')
                let profile = document.querySelector('.profile')

                let sair = profile.querySelector('#sair')
                sair.addEventListener('click',(event)=>{
                    event.preventDefault()
                    let req = new XMLHttpRequest()
                    req.open('GET','/auth/logout')
                    req.send("")
                    req.onreadystatechange = function(){
                        if (req.status==200 && req.readyState==4){window.location.assign(this.responseURL)}
                    }
                })
            </script>    
        {%else%}
            <a href='/auth' id='login'>Login</a>
        {% endif %}
    </div>