<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%if user%}StSyn - {{user.username}}{%else%}Usuário inválido{%endif%}</title>

        <link rel="stylesheet" href="{{url_for('static',filename='css/comum.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}">
    </head>
    <body>
        <div class="wraper">
            <header>
                <nav></nav>
            </header>
            {%if user%}
            <div class="pag">
                <div class="informs">
                    <div class="user">
                        <img src="{{url_for('static',filename='imagens/semimagem.png')}}">
                        <h2>{{user.username}}</h2>
                    </div>
                    {%if current_user and current_user.username == user.username%}
                    <button style="padding:10px">Postar</button>
                    <form method="POST" enctype="multipart/form-data">
                        <label for="title">Título</label>
                        <input type="text" name="title" id="title" style="margin-bottom:10px">
                        <label for="desc">Descrição</label>
                        <textarea name='desc' id="desc" style="margin-bottom:10px"></textarea>
                        <div class="arquivos"><label for="content">Enviar Arquivos</label></div>
                        <input type="file" value="Escolher" name="content" id="content" style="display:none"> 
                        <input type="submit" value="Enviar">
                        <input type="button" value="Cancelar">
                    </form>
                    {%else%}
                    <h1>tchau</h1>
                    {%endif%}
                </div>
                <div class="posts">
                    {%if posts%}
                        {%for p in posts%}
                                {%with title = re.match('<t>.+<t>',p.desc).group(), desc = re.search('<e>.+',p.desc).group()%}
                                <div>
                                    <h3>{{title[3:len(text)-3]}}</h3>
                                    <p>{{desc[3:]}}</p>
                                    {%if p.conte%}
                                        {%with type = re.search('\.\w+',p.filename).group()[1:]%}
                                        <img src="data:img/{{type}},base64,{{p.conte}}" style="max-width:100%">
                                        {%endwith%}
                                    {%endif%}
                                    <h2>From <a href="{{user.username}}" style="color:purple">{{user.username}}</a></h2>
                                </div>
                                {%endwith%}
                        {% endfor %}
                    {%endif%}
                </div>
                <div>
                </div>        
            </div>
            {%else%}
            <h1>Sem usuario
            {%endif%}
        </div>
        <script src="{{url_for('static',filename="js/script.js")}}"></script>
        <script src="{{url_for('static',filename='js/users.js')}}"></script>
    </body>    
</html>